.menu-bar {
  background-color: transparent;
  border-color: var(--border-color);
}

.menu-button {
  color: var(--text-secondary);
}

.menu-dropdown {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
}

.menu-dropdown-button {
  color: var(--text-primary);
}

.menu-dropdown-button:hover:not(:disabled) {
  background-color: var(--bg-tertiary);
}

.menu-divider {
  border-color: var(--border-color);
}